html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li, img,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, canvas, details, figcaption, figure, footer, header,
hgroup, menu, nav, section, summary {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    text-decoration: none;
    text-decoration: none;
}

#titles {
    display: none;
}

input, textarea {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

img {
    border: 0;
}

body {
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    background-color: #000000;
    font-family: Quicksand;
    /*font-family: Open sans;*/
    font-weight: 300;
    overflow: hidden;
}

input, textarea, button {
    font-size: 17px;
    font-family: 'Arial', sans-serif;
    outline: 0;
}

@keyframes test {
    0% {
        transform: matrix(1, 0, 0, 1, 0, 0);
    }
    100% {
        transform: matrix(1, 0, 0, 1, 250, 250);
    }
}

.background {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: auto;
    right: auto;
    width: 100%;
    height: 100%;
    z-index: -5;
    max-width: none !important;
}

#wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}

#header {
    position: absolute;
    width: 100%;
    height: 47%;
    vertical-align: middle;
    display: block;
}

.headerSize {
    min-height: 100px;
}

.headerSizeInAboutUs {
    min-height: 0px;
}

.logo-right {
    position: absolute;
}

.logo-right img {
    margin-top: 40px;
    margin-left: 40px;
}

#logoContainer {
    display: table;
    width: 100%;
    height: 190%;
    text-align: center;
    margin: 0 auto;
}

#logoContainer div {
    display: table-cell;
    vertical-align: middle;
}

#logo img {
    max-width: 100% !important;
    height: auto;
    width: 200px;
}

#logo h1 {
    font-family: Quicksand;
    font-weight: 100;
    font-size: 120px;
}

#logo h2 {
    font-family: Quicksand;
    font-size: 50px;
    font-weight: 100;
}

.content-wrapper {
    text-align: center;
    position: relative;
    width: 100%;
    min-height: 100%;
    height: 100%;
    display: table;
    overflow: hidden;
    margin-bottom: -145px;
}
.content {
    text-align: center;
    min-height: 100%;
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    position: relative;

    -moz-perspective: 300px;
    -ms-perspective: 300px;
    -o-perspective: 300px;
    -webkit-perspective: 300px;
    perspective: 300px;
}

#mainContent {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: auto;
    transform: rotate3d(0, 1, 0, 0deg);
    -webkit-transform: rotate3d(0, 1, 0, 0deg);
    -moz-transform: rotate3d(0, 1, 0, 0deg);
    -o-transform: rotate3d(0, 1, 0, 0deg);
    -ms-transform: rotate3d(0, 1, 0, 0deg);

    border: 0;
    -webkit-box-shadow: inset 0 0 0 #FFFFFF;
    -o-box-shadow: inset 0 0 0 #FFFFFF;
    box-shadow: inset 0 0 0 #FFFFFF;
    -webkit-transition: -webkit-box-shadow 1s;
    -moz-transition: -moz-box-shadow 1s;
    transition: box-shadow 1s;
    /*background: rgba(0,0,0,0.3);*/
}

#mainContentNet {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: auto;
    border: 0;
}

#mainContact {
    display: block;
    z-index: 150;
}

canvas{
    position: absolute;
}

#particles-js {
    width: -webkit-calc(100% - 30px);
    width: calc(500px - 0px);
    position: absolute;
    z-index: -1;
    height: 50%;
    margin-left: 700px;
    margin-top: 200px;
}

h2 {
    margin: 0;
    padding: 0;
    font-family: Open Sans;
    font-weight: 400;
    font-size: 12px;
}

h3 {
    font-size: 10px;
    font-family: Open+sans;
    font-weight: 400;
    text-align: center;
    color: #818181;
}

h4 {
     margin: 0;
     padding: 0;
     font-family: Open+Sans;
     font-weight: 400;
     font-size: 12px;
     position: absolute;
     margin-top: -39px;
     width: 154px;
     padding-bottom: 15px;
     border-bottom: 1px dotted #818181;
 }

h5 {
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-size: 16px;
    color: #fff;
    padding-top: 15px;
}

h6 {
    margin-top: 37px;
    position: relative;
    font-size: 36px;
    font-family: Open+Sans;
    font-weight: 300;
    margin-left: 8px;
    color: #818181;
}

a {
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-size: 18px;
    color: #fff;
}

a:hover {
    color: #aaa;
}

.about_footer {
    border-left: solid 1px;
    margin-top: 15px;
    padding-bottom: 2px;
}

.footerSize {
    min-height: 95px;
}

#footer {
    position: absolute;
    width: 100%;
    height: 95px;
    vertical-align: baseline;
    display: table;
    background-color: rgba(255, 255, 255, 0.1);
}

#footerBottom {
    display: table-cell;
    vertical-align: bottom;
    /*padding-bottom: 20px;*/
}

#countdown {
    position: relative;
    text-align: left;
    vertical-align: middle;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 20px;
    margin-right: 0px;
    margin-bottom: -140px;
    margin-top: 0px;
    -moz-perspective: 400px;
    -ms-perspective: 400px;
    -o-perspective: 400px;
    -webkit-perspective: 400px;
    perspective: 300px;
    -webkit-backface-visibility: visible;
    backface-visibility: visible
}

.square {
    display: inline-block;
    width: 250px;
    height: 140px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0);
    -webkit-transform: rotate(360deg);
    position: relative;
    margin-right: 0px;
    margin-left: 0px;

    opacity: 1;
    -webkit-transform-style: preserve-3d;
    -webkit-animation: rotateTriangleAnim 1s forwards;
    -moz-animation: rotateTriangleAnim 1s forwards;
    -o-animation: rotateTriangleAnim 1s forwards;
    animation: rotateTriangleAnim 1s forwards;
}

.countContainer {
    position: absolute;
    text-align: left;
    height: 100%;
    width: 100%;
    margin-top: 0px;
    background-color: rgba(0, 0, 0, 0);
}

.countContainer p {
    text-align: center;
}

.countContainer div.unitContainer {
    position: absolute;
    height: 10px;
    display: table;
    width: 100%;
    margin-top: 28px;
    padding-bottom: 6px;
    /*border-bottom: 1px dotted #818181;*/
}

.countContainer p.unit {
    display: table-cell;
    vertical-align: bottom;
    bottom: 0;
    color: #FFFFFF;
    font-size: 1.2em;
    font-weight: 100;
    letter-spacing: 1px;
}

.countContainer div.unitContainerDown {
    position: absolute;
    height: 125px;
    display: table;
    width: 100%;

}

.countContainer p.unitDown {
    display: table-cell;
    vertical-align: bottom;
    bottom: 0;
    color: #FFFFFF;
    font-size: 1.2em;
    font-weight: 100;
    letter-spacing: 1px;
    padding-left: 10px;
}

.countContainer div.numberContainer {
    position: absolute;
    display: table;
    height: 145px;
    width: 100%;

}

.countContainer p.number {
    display: table-cell;
    position: relative;
    font-size: 36px;
    /*vertical-align: bottom;*/
    line-height: 128px;
    font-family: Open+Sans;
    font-weight: 300;
    color: #fff;
}

#iconsWrapper {
    position: relative;
    text-align: right;
    padding-left: 40px;
    padding-right: 20px;
    padding-bottom: 12px;
    padding-top: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    display: block;
    vertical-align: bottom;
}

#icons {
    margin-right: 0;
    list-style: none;
    line-height: 0;
    width: 100%;
    overflow: visible;
}

.icon {
    list-style: none;
    display: inline-block;
    height: 0px;
    width: 40px;
    vertical-align: middle;
    margin: 0;
    padding: 5px;
    margin-top: -54px;
    padding-bottom: 30px;
}

.icon a {
    display: block;
    background-size: 35px, 35px;
    width: 35px;
    height: 35px;
    margin-top: 2px;
    -webkit-transition: all 0.5s ease-in-out;
         -moz-transition: all 0.5s ease-in-out;
         -o-transition: all 0.5s ease-in-out;
         -ms-transition: all 0.5s ease-in-out;
}

.icon a:hover {
     -webkit-transform: scale(1.2,1.2);
     -moz-transform: scale(1.2,1.2);
     -o-transform: scale(1.2,1.2);
     -ms-transform: scale(1.2,1.2);
}

#backgroundImage {
    display: none;

}

#slides {
    display: none;
}

.address-container {
    border-right: 1px solid #fff;
}

/*-----------------------------------------------------------*/
                        /*max-width: 1540px*/
/*-----------------------------------------------------------*/


@media only screen and (max-width: 1540px) {

    #particles-js {
        width: -webkit-calc(100% - 30px);
        width: calc(400px - 0px);
        position: absolute;
        z-index: -1;
        height: 50%;
        margin-left: 500px;
        margin-top: 155px;
    }

    /*#header {*/
        /*height: 35%;*/
    /*}*/

    /*#logo img {*/
        /*width: 180px;*/
    /*}*/

    /*.square {*/
        /*width: 250px;*/
        /*height: 100px;*/
        /*margin-bottom: -5px;*/
    /*}*/

    /*#logoContainer {*/
        /*width: 180px;*/
        /*margin-top: 70px;*/
    /*}*/

    /*#headerText {*/
        /*margin-bottom: -40px;*/
        /*font-size: 60px;*/
    /*}*/

    /*#countdown {*/
        /*padding-left: 0px;*/
        /*padding-right: 0px;*/
        /*margin-left: 20px;*/
        /*margin-top: 44px;*/
        /*margin-bottom: -120px;*/
    /*}*/

    /*.countContainer {*/
        /*margin-top: -22px;*/
    /*}*/

    /*.countContainer div.unitContainer {*/
        /*height: 0px;*/
        /*width: 141px;*/
        /*border-bottom: 1px dotted #818181;*/
    /*}*/

    /*.countContainer div.unitContainerDown {*/
        /*height: 115px;*/
    /*}*/

    /*.countContainer p.unit {*/
        /*font-size: 1em;*/
    /*}*/

    /*.countContainer div.numberContainer {*/
        /*height: 0px;*/
        /*width: 100%;*/
        /*margin-top: -2px;*/
    /*}*/

    /*.countContainer p.number {*/
        /*font-size: 36px;*/
        /*line-height: 49px;*/
    /*}*/

    /*#iconsWrapper {*/
        /*padding-left: 0px;*/
        /*padding-right: 5px;*/
        /*padding-bottom: 0px;*/
        /*padding-top: 5px;*/
        /*margin-left: 0px;*/
        /*margin-right: 60px;*/
        /*margin-top: 15px;;*/
    /*}*/

    /*.icon {*/
        /*background-size: 20px, 20px;*/
        /*width: 20px;*/
        /*height: 20px;*/
        /*padding: 10px;*/
        /*margin-top: 5px;*/
        /*margin-bottom: 15px;*/
    /*}*/

    /*.icon a {*/
        /*background-size: 22px, 22px;*/
        /*width: 22px;*/
        /*height: 22px;*/
    /*}*/

    /*#contact-text {*/
        /*margin-top: -36px;*/
    /*}*/

    /*#contact-address {*/
        /*margin-top: 10px;*/
    /*}*/

    /*#contact-tel {*/
        /*margin-top: 8px;*/
    /*}*/

    h2 {
        margin-top: -12px;
    }

    h6 {
        margin-top: 44px;
    }

    h4 {
        margin-top: -35px;
        padding-bottom: 17px;
    }
}

/*-----------------------------------------------------------*/
/*max-width: 1270px*/
/*-----------------------------------------------------------*/

@media only screen and (max-width: 1270px) {

    /*#particles-js {*/
        /*height: 400px;*/
        /*margin-top: 150px;*/
        /*margin-left: 450px;*/
    /*}*/

    /*#countdown {*/
        /*padding-left: 0px;*/
        /*padding-right: 0px;*/
        /*margin-left: 20px;*/
        /*margin-top: 16px;*/
        /*margin-bottom: -185px;*/

    /*}*/

    /*.square {*/
        /*width: 220px;*/
        /*height: 95px;*/
        /*margin-bottom: 28px;*/
    /*}*/

    /*.countContainer {*/
        /*margin-top: 31px;*/
    /*}*/

    /*#footer {*/
        /*height: 110px;*/
        /*margin-top: 50px;*/
    /*}*/

    /*h2 {*/
        /*margin-top: -15px;*/
    /*}*/

    /*h4 {*/
        /*margin-top: -38px;*/
    /*}*/

    /*h6 {*/
        /*margin-top: 11px;*/
        /*font-size: 35px;*/
        /*margin-left: 8px;*/
    /*}*/

    /*#iconsWrapper {*/
         /*padding-left: 0px;*/
         /*padding-right: 20px;*/
         /*padding-bottom: 0px;*/
         /*padding-top: 4px;*/
         /*margin-left: 0px;*/
         /*margin-right: 59px;*/
         /*margin-top: 25px;*/
    /*}*/

        /*#logoContainer {*/
            /*width: 170px;*/
        /*}*/

        /*#headerText {*/
            /*margin-bottom: -60px;*/
            /*font-size: 50px;*/
        /*}*/

    /*.countContainer div.unitContainer {*/
        /*height: 0px;*/
        /*margin-top: 0px;*/
        /*width: 136px;*/
    /*}*/

        /*.countContainer div.unitContainerDown {*/
            /*height: 83px;*/
            /*font-size: 0.8em;*/
        /*}*/

        /*.countContainer p.unit {*/
            /*font-size: 0.8em;*/
        /*}*/

        /*.countContainer div.numberContainer {*/
            /*height: 0px;*/
            /*width: 100%;*/
        /*}*/

        /*.countContainer p.number {*/
            /*font-size: 35px;*/
            /*line-height: 44px;*/
            /*margin-top: 0px;*/
        /*}*/

    /*#contactWrapper {*/
        /*margin-top: -38px;*/
    /*}*/

    /*#contact-address {*/
        /*margin-top: 2px;*/
    /*}*/


        /*.icon a {*/
            /*background-size: 25px, 25px;*/
            /*width: 25px;*/
            /*height: 25px;*/
            /*margin-top: -2px;*/
        /*}*/

        /*.icon {*/
            /*background-size: 25px, 25px;*/
            /*width: 19px;*/
            /*height: 25px;*/
            /*padding: 8px;*/
        /*}*/
}

/*-----------------------------------------------------------*/
/*max-width: 1250px*/
/*-----------------------------------------------------------*/

@media only screen and (max-width: 1250px) {

    #particles-js {
        height: 400px;
        margin-top: 140px;
        margin-left: 375px;
    }
}

/*-----------------------------------------------------------*/
/*max-width: 950px*/
/*-----------------------------------------------------------*/

@media only screen and (max-width: 950px) {

    #particles-js {
        height: 375px;
        margin-top: 140px;
        margin-left: 300px;
    }
}

/*-----------------------------------------------------------*/
/*max-width: 750px*/
/*-----------------------------------------------------------*/

@media only screen and (max-width: 750px) {

    #particles-js {
        width: -webkit-calc(100% - 30px);
        width: calc(50% - 0px);
        height: 370px;
        margin-top: 140px;
        margin-left: 150px;
    }

    /*#logo img {*/
        /*width: 130px;*/
        /*margin-top: 100px;*/
    /*}*/


    /*#logoContainer {*/
        /*width: 130px;*/
        /*margin-top: 0px;*/
        /*height: 160%;*/
    /*}*/

    /*#headerText {*/
        /*margin-bottom: 0px;*/
        /*font-size: 40px;*/
     /*}*/

     /*#countdown {*/
        /*padding-left: 0px;*/
        /*padding-right: 0px;*/
        /*margin-left: 5px;*/
        /*margin-right: 0px;*/
        /*margin-bottom: -157px;*/
     /*}*/

    /*.square {*/
        /*margin-left: 5px;*/
        /*margin-right: 5px;*/
        /*margin-bottom: 0px;*/
    /*}*/

    /*.countContainer {*/
        /*margin-top: 31px;*/
    /*}*/

     /*#iconsWrapper {*/
        /*margin-top: 25px;*/
      /*}*/

    /*.icon a {*/
        /*background-size: 25px, 25px;*/
        /*width: 25px;*/
                 /*height: 25px;*/
    /*}*/

    /*.icon {*/
        /*background-size: 25px, 25px;*/
        /*width: 19px;*/
        /*height: 25px;*/
        /*padding: 8px;*/
    /*}*/

    /*#animContainer {*/
        /*width: 166px;*/
        /*margin-top: 0px;*/
        /*height: 35px;*/
    /*}*/
}

/*---------------------------------------------------------*/
                    /*max-width: 550px*/
/*---------------------------------------------------------*/

@media only screen and (max-width: 550px) {

    #particles-js {
        width: -webkit-calc(100% - 30px);
        width: calc(70% - 0px);
        height: 370px;
        margin-top: 75px;
        margin-left: 75px;
    }

    #logo h1 {
        font-size: 75px;
    }

    #logo h2 {
        font-size: 25px;
    }

    .address-container {
        margin-right: 42px;
    }

    .countContainer {
        display: none;
    }

    #logo img {
        width: 130px;
    }

    #headerText {
        font-size: 30px;
       margin-bottom: 120px;
    }

    .headerSize {
    min-height: 230px;
    }

    #countdown {
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 5px;
        margin-right: 0px;
        margin-bottom: -199px;
    }
    
    #contactInfo div {
        padding: 5px;
        margin: 5px;
    }

    #contactMsg {
        padding: 20px 5px 5px 5px;
    }

    #contactArea {
        padding: 10px 10px 10px 10px;
        width: 240px;
        height: 305px;
        margin-bottom : 60px;
        margin-top: 30px;
    }

    #contactArea textarea {
         background-size: 230px 88px;
         width: 230px;
         height: 88px;
         outline: 0;
         line-height: 200%;
         padding-top: 5px;
     }

    #footer {
        height: 45px;
        margin-top: 40px;
    }


    h4 {
        width: 90px;
    }

     #contentAbout {
         padding: 30px;
         margin-left: 7%;
         margin-right: 7%;
         margin-bottom: 200px;
     }

    .icon a {
            background-size: 30px, 30px;
            width: 30px;
            height: 30px;
    }

    .icon {
            background-size: 25px, 25px;
            width: 20px;
            height: 25px;
            padding: 7px;
    }

    /*#icons {*/
        /*margin-top: 20px;*/
    /*}*/

    #iconsWrapper {
        /*padding-left: 0px;*/
        padding-right: 10px;
        /*padding-bottom: 0px;*/
        /*padding-top: 4px;*/
        /*margin-left: 10px;*/
        /*margin-right: 10px;*/
        /*text-align: center;*/
    }

    .address-container {
        margin-right: 45px;
    }

    .logo-right img {
        margin-top: 15px;
        margin-left: 15px;
    }

    /*#follow {*/
        /*padding-left: 170px;*/
    /*}*/
}
/*-----------------------------------------------------*/

.address-container{
    margin-top: 15px;
    margin-right: 15px;
    padding-right: 30px;
    padding-top: 15px;
    vertical-align: middle;
    display: inline-block;
    height: 79px;
}

#contactWrapper {
    text-align: right;
    display: block;
}

#contact-text {
    margin-top: -20px;
}
#contact-address {
    margin-top: 20px;
    height: 4px;
    color: #fff;
}

#contact-tel {
    margin-top: 7px
}

#follow {
    position: absolute;
    padding-left: 185px;
}

#footer-text {
    text-align: center;
    margin-top: -20px;
}

#youtubeId {
    display: none;
}
