@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  font-family: var(--font-outfit);
}

::selection {
  background: #00b2ff;
  color: white;
}

.custom-cursor {
  pointer-events: none;
}

/* Ensure consistent border-radius */
.rounded-lg {
  border-radius: 0.5rem !important;
}

