<style type="text/css">
    @import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
</style>
<table width="563" border="0" cellspacing="0" cellpadding="0" style="font-family: 'Lato', sans-serif; padding:30px 0;">
    <tbody>
        <tr style="display: block;">
            <td width="230px" style="">
               <table style="padding: 29px 0; background: #4c8aff6b; clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%); width: 100%;">
                   <tr>
                       <td>
                            <img src="Images/blu.png" width="79" height="50" alt="pic" style="margin: 0 55px; display: block;">
                       </td>
                   </tr>
               </table>
            </td>
            <td width="333px">
                <table border="0" cellspacing="0" cellpadding="0" >
                    <tr>
                        <table border="0" cellspacing="0" cellpadding="0" style="padding: 23px 0 25px 70px; clip-path: polygon(17% 0, 100% 0%, 100% 100%, 0% 100%); background: #206dff; width: 100%; margin-left: -58px;">
                            <tr>
                                <td></td>
                               <td>
                                   <table border="0" cellspacing="0" cellpadding="0" style="width: 100%; margin-left: -15px;">
                                    <tr>
                                        <td style="font-size:16px; color:#ffffff; line-height:18px; font-weight: bold; padding-left: 10px;">BLU Craner <span style="font-weight: 300;">HOA Board</span></td>
                                    </tr>       
                                </table>
                               </td>
                            </tr>
                            <!--Spacing-->
                            <tr>
                                <td height="15"></td>
                                <td></td>
                            </tr>
                             <!--Spacing-->
                            <tr>
                                <td width="15"><img src="Images/icon-email.svg" width="10" height="8" alt="Icon" style="padding-left:10px;"></td>
                                <td style="font-size:11px; color:#ffffff; line-height:20px; padding-left:5px;">blucranerboard@gmail.com</td>
                            </tr>
                            <tr style="margin-left: 10px;">
                                <td width="15"><img src="Images/icon-globe.svg" width="12" height="12" alt="Icon"></td>
                                <td style="font-size:11px; color:#ffffff; line-height:20px;">JOIN US ON SLACK - https://blucraner.slack.com</td>
                            </tr>
                        </table> 
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>