<style type="text/css">
  @import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");
</style>
<table
  width="466"
  border="0"
  cellspacing="0"
  cellpadding="0"
  style="
    font-family: 'Lato', sans-serif;
    border-top: 1px solid rgba(32, 109, 255, 0.11);
    border-bottom: 1px solid rgba(32, 109, 255, 0.11);
    padding: 30px;
  "
>
  <tbody>
    <tr style="display: block">
      <td width="154px">
        <table style="margin-right: 24px">
          <tr>
            <td>
              <img src="Images/blue-2.png" alt="blu logo" />
            </td>
          </tr>
        </table>
      </td>
      <td width="250px" style="border-left: 1px solid rgba(32, 109, 255, 0.33)">
        <table
          border="0"
          cellspacing="0"
          cellpadding="0"
          style="margin-left: 24px"
        >
          <tr>
            <td
              style="
                font-size: 16px;
                font-weight: bold;
                color: #007fe6;
                line-height: 25px;
              "
            >
              BLU Craner
              <span style="font-size: 14px; font-weight: bold; color: #272833">
                HOA Board</span
              >
            </td>
          </tr>
          <tr>
            <td style="font-size: 11px; color: #6b6c7e; line-height: 18px">
              NoHo Arts District
              <br />
              Los Angeles, CA 91601
            </td>
          </tr>
          <tr>
            <table
              border="0"
              cellspacing="0"
              cellpadding="0"
              style="margin-left: 24px"
            >
              <tr>
                <td width="15">
                  <img src="Images/email-2.png" width="10" height="10" alt="" />
                </td>
                <td style="font-size: 11px; color: #272833; line-height: 20px">
                  blucranerboard@gmail.com
                </td>
              </tr>
              <tr>
                <td width="15">
                  <img src="Images/slack.png" width="12" height="12" alt="" />
                </td>
                <td style="font-size: 11px; color: #272833; line-height: 20px">
                  https://blucraner.slack.com
                </td>
              </tr>
            </table>
          </tr>
        </table>
      </td>
    </tr>
  </tbody>
</table>
